[[config]]
template = "/app/templates/http.conf.tmpl"
dest = "/etc/nginx/sites-enabled/sites.conf"
watch = true
wait = "500ms:2s"
notifycmd = "/etc/init.d/nginx reload"

[[config]]
template = "/app/templates/stream.conf.tmpl"
dest = "/etc/nginx/stream-sites-enabled/sites.conf"
watch = true
wait = "500ms:2s"
notifycmd = "/etc/init.d/nginx reload"

[[config]]
template = "/app/templates/ssl.json.tmpl"
dest = "/etc/nginx/ssl.json"
watch = true
wait = "500ms:2s"
notifycmd = "cat /etc/nginx/ssl.json"
