upstream python-web-5000 {
    server VAR_IP_ADDRESS:5000;
}
server {
    listen                      [::]:80 http2;
    listen                      80 http2;
    server_name                 python.example.com;
    access_log                  /var/log/nginx/python-access.log;
    error_log                   /var/log/nginx/python-error.log;
    location    / {
        grpc_pass  grpc://python-web-5000;
    }
}
# set a default server block if there is no default (_) server
server {
    server_name _;
    listen      80 default_server;
    access_log  /var/log/nginx/default-server-80-access.log
    error_log   /var/log/nginx/default-server-80-error.log
    return      404;
}
server {
    listen              443 ssl;
    server_name         _;
    ssl_certificate     /etc/ssl/resty-auto-ssl-fallback.crt;
    ssl_certificate_key /etc/ssl/resty-auto-ssl-fallback.key;
    access_log          /var/log/nginx/default-server-443-access.log
    error_log           /var/log/nginx/default-server-443-error.log
    return              404;
}