upstream python-web-5000 {
    server VAR_IP_ADDRESS:5000; # app=python process_type=web container_port=5000 network=bridge scheme=grpcs
}
server {
    listen                      [::]:443 ssl http2;
    listen                      443 ssl http2;
    server_name                 python.example.com;
    access_log                  /var/log/nginx/python-access.log;
    error_log                   /var/log/nginx/python-error.log;
    ssl_certificate_by_lua_block {
        auto_ssl:ssl_certificate()
    }
    # fallback certificates
    ssl_certificate             /etc/ssl/resty-auto-ssl-fallback.crt;
    ssl_certificate_key         /etc/ssl/resty-auto-ssl-fallback.key;
    ssl_protocols               TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers   off;
    location    / {
        grpc_pass  grpc://python-web-5000;
    }
}